.b1{ 
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 15px 0 20px 15px;
	border: 5px dotted #999;
	background: #fff;

.bc1{
	height: 500px;
	border: 5px dotted #999;
}
.b2{
	border-color: black;


}